<h1>Hai</h1>
<input type="text" value="hai all" />
<input type="checkbox" value="hai x"/>
<input type="radio" value="hai y"/>
<button value="ClickMe" ></button>
<select></select>
<button value="newButton" style="display:block" onclick="alert('a')"></button>
