<div style="float:left; width:33%; height:100%;">

<table id="result" border="1"></table>
<table id="list" border="1">
<tr><th>Name</th><th>attributes</th></tr>
</table>
<input type="button" onclick="finddom()" value="Click Me"/>

</div>

<div style="float:left; width:67%; height:100%">
<iframe src="<%=@url%>" name="ifr" id="myframe" style="width:100%;height:100%">

</iframe>
</div>

