<iframe src="<%=@url%>" name="ifr" id="myframe">

</iframe>

<table id="list">
<tr><th>Name</th><th>attributes</th></tr>
</table>

<table id="result"></table>

<input type="button" onclick="finddom()" value="Click Me"/>
