<!DOCTYPE html>
<html>
<head>
  <title>ControlsreadTest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<script language="javascript">
$(document).ready(function(){

 //myFrame = top.frames['ifr'];
 //myFrame.document.open();
 //myFrame.document.write(Encoder.htmlDecode('&lt;html&gt;&lt;head&gt;&lt;/head&gt;&lt;body&gt;&lt;h1&gt;Hai&lt;/h1&gt;&lt;input type=&quot;text&quot; value=&quot;haiall&quot; /&gt;&lt;input type=&quot;checkbox&quot; value=&quot;hai x&quot;/&gt;&lt;input type=&quot;radio&quot; value=&quot;hai y&quot;/&gt;&lt;button value=&quot;ClickMe&quot; &gt;&lt;/button&gt;&lt;select&gt;&lt;/select&gt;&lt;button value=&quot;newButton&quot; style=&quot;display:block&quot; onclick=&quot;alert("a")&quot;&gt;&lt;/button&gt;&lt;/body&gt;&lt;/html&gt;'));
    //myFrame.document.close();
});
</script>
</head>
<body>

<%= yield %>

</body>
</html>
